<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title> Home</title>

            <ion-view>

                <ion-header-bar  class="nav-title-slide-ios7 bar-balanced">

                    <h1 class="title">Pagina de Inicio</h1>

                </ion-header-bar>

                <ion-content has-header="true">

                    <ion-list>

                        <ion-item href="#first">

                            Primera Pagina

                        </ion-item>

                        <ion-item href="#/second">

                            Segunda Pagina

                        </ion-item>

                        <ion-item href="#/third">

                            Tercera Pagina

                        </ion-item>

                    </ion-list>

                </ion-content>

            </ion-view>

        </script>
    </div>
    
  </body>
</html>

